=begin
#Samplify API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.8

=end

require 'uri'

module SamplifyAPIClient
  class FeasibilityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # show feasibility
    # @param ext_project_id 
    # @param [Hash] opts the optional parameters
    # @return [Feasibility]
    def feasibility_show(ext_project_id, opts = {})
      data, _status_code, _headers = feasibility_show_with_http_info(ext_project_id, opts)
      data
    end

    # show feasibility
    # @param ext_project_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Feasibility, Fixnum, Hash)>] Feasibility data, response status code and response headers
    def feasibility_show_with_http_info(ext_project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeasibilityApi.feasibility_show ...'
      end
      # verify the required parameter 'ext_project_id' is set
      if @api_client.config.client_side_validation && ext_project_id.nil?
        fail ArgumentError, "Missing the required parameter 'ext_project_id' when calling FeasibilityApi.feasibility_show"
      end
      # resource path
      local_var_path = '/sample/v1/projects/{extProjectId}/feasibility'.sub('{' + 'extProjectId' + '}', ext_project_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.feasibility+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml', 'application/gob', 'application/x-gob'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['jwt']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Feasibility')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeasibilityApi#feasibility_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
